<div>
<%= form_with(model: [@current_enrollment, @travel], 
                html: {local: true},
                data: {
                  controller: "travel",
                  target: "travel.form",
                  action: "submit->travel#submitForm",
                  turbo: "false"
                }
              ) do |form| %>
  <% if @travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel.errors.count, "error") %> prohibited this travel from being saved:</h2>
      <ul>
        <% @travel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="text-sm">
    <span>
      PLEASE NOTE:  If you are no longer in need of the shuttle service you may have selected in your MMSS application, 
      or if you have any questions about shuttle service, please email mmss@umich.edu as soon as possible.
    </span>
    <div class="py-2">
      All fields are required unless marked <span class="text-gray-700">(optional)</span>
    </div>

    <div>
      <%= form.label :arrival_session %>
      <%= form.select :arrival_session, options_for_select(@sessions, @travel.arrival_session), prompt: "Select ...", required: true %>
    </div>

    <div>
      <%= form.label :depart_session %>
      <%= form.select :depart_session, options_for_select(@sessions, @travel.depart_session), prompt: "Select ...", required: true %>
    </div>

    <h2 class= "section-header">Arrival Information</h2>
    <span>
      Please indicate what type of transportation you will use to arrive to Michigan *
    </span>
    <div>
      <%= form.label 'travel[arrival_transport]', class: "hidden" %>
      <%= select_tag 'travel[arrival_transport]', options_for_select(transportation, @travel.arrival_transport), required: true, prompt: "Select ...", "data-target": "travel.arrival_transport", "data-action": "change->travel#checkArrivalTransport" %>
    </div>
    <div class="errors date-error--hide" data-target="travel.arrival_message">
    </div>

    <% if @travel.new_record? %>
      <div class="travel-details--hide" data-target="travel.arrival_details">
    <% elsif @travel.arrival_transport.include?("Automobile") || @travel.arrival_transport.include?("commuter") %>
      <div class="travel-details--hide" data-target="travel.arrival_details">
    <% else %>
      <div class="travel-details--show" data-target="travel.arrival_details">
    <% end %>
      <span>
        Carrier Name. Airline: (Delta, United, Spirit, etc.), Bus (Greyhound), Train (Amtrak) *
      </span>
      <div class="field py-2">
        <%= form.label :arrival_carrier, class: "hidden" %>
        <%= form.text_field :arrival_carrier, "data-target": "travel.arrival_carrier" %>
      </div>
      <hr>

      <span>
        Arrival Flight #/Bus #/Train # (Ex: Delta 0025) *
      </span>
      <div class="field py-2">
        <%= form.label :arrival_route_num, class: "hidden" %>
        <%= form.text_field :arrival_route_num, "data-target": "travel.arrival_route_num" %>
      </div>
      <hr>
    </div>
    <% if @travel.new_record? %>
      <div class="travel-details--hide" data-target="travel.arrival_date_time">
    <% elsif @travel.arrival_transport.include?("commuter") %>
      <div class="travel-details--hide" data-target="travel.arrival_date_time">
    <% else %>
      <div class="travel-details--show" data-target="travel.arrival_date_time">
    <% end %>
      <div class="field py-2 w-full md:w-1/3">
        <%= form.label :arrival_date, 'Date of arrival *' %>
        <%= form.date_field :arrival_date, class: "datepicker", "data-target": "travel.arrival", "data-action": "change->travel#checkDates" %>
      </div>
      <hr>

      <div class="field py-2 w-full md:w-1/3">
        <%= form.label :arrival_time, 'Time of arrival *' %>
        <%= form.time_field :arrival_time, "data-target": "travel.arrival_time" %>
      </div>
    </div>

    <h2 class= "section-header">Departure Information</h2>
    <span>
      Please indicate what type of transportation you will use to depart from Michigan *
    </span>
    <div>
      <%= form.label 'travel[depart_transport]', class: "hidden" %>
      <%= select_tag 'travel[depart_transport]', options_for_select(transportation, @travel.depart_transport), required: true, prompt: "Select ...", "data-target": "travel.depart_transport", "data-action": "change->travel#checkDepartTransport" %>
    </div>
    <div class="errors date-error--hide" data-target="travel.depart_message">
    </div>
    <hr>

    <% if @travel.new_record? %>
      <div class="travel-details--hide" data-target="travel.depart_details">
    <% elsif @travel.depart_transport.include?("Automobile") || @travel.depart_transport.include?("commuter") %>
      <div class="travel-details--hide" data-target="travel.depart_details">
    <% else %>
      <div class="travel-details--swow" data-target="travel.depart_details">
    <% end %>
      <span>
        Carrier Name. Airline: (Delta, United, Spirit, etc.), Bus (Greyhound), Train (Amtrak) *
      </span>
      <div class="field">
        <%= form.label :depart_carrier, class: "hidden" %>
        <%= form.text_field :depart_carrier, "data-target": "travel.depart_carrier" %>
      </div>
      <hr>

      <span>
        Departure Flight #/Bus #/Train # (Ex: Delta 0025) *
      </span>
      <div class="field">
        <%= form.label :depart_route_num, class: "hidden" %>
        <%= form.text_field :depart_route_num, "data-target": "travel.depart_route_num" %>
      </div>
      <hr>
    </div>
    <% if @travel.new_record? %>
      <div class="travel-details--hide" data-target="travel.depart_date_time">
    <% elsif @travel.depart_transport.include?("commuter") %>
      <div class="travel-details--hide" data-target="travel.depart_date_time">
    <% else %>
      <div class="travel-details--show" data-target="travel.depart_date_time">
    <% end %>
      <div class="field py-2 w-full md:w-1/3" >
        <%= form.label :depart_date, 'Date of departure *' %>
        <%= form.date_field :depart_date, class: "datepicker", "data-target": "travel.depart", "data-action": "change->travel#checkDates" %>
      </div>
      <div class="errors date-error--hide" data-target="travel.message">
      </div>
      <hr>

      <div class="field py-2 w-full md:w-1/3">
        <%= form.label :depart_time, 'Time of departure *' %>
        <%= form.time_field :depart_time, "data-target": "travel.depart_time" %>
      </div>
      <hr>
    </div>

    <div class="field">
      <%= form.label :note, 'Additional notes' %>
      <%= form.text_area :note %>
    </div>
    <hr>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
</div>
