<p>All fields are required unless marked <span class="text-gray-700">(optional)</span></p>
<%= form_with(model: [@enrollment, @travel], local: true) do |form| %>
  <% if @travel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@travel.errors.count, "error") %> prohibited this travel from being saved:</h2>

      <ul>
        <% @travel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class="section-header">Applicant Travel Information</h2>

  <p>
    We are excited for you to join us for the Michigan Math and Science Scholars program! 
    We would like to know your travel information so that we may plan for your arrival to, and departure from, the campus. P
    lease take a moment to answer the questions below. 
    If you are attending more than one session, you will receive a travel information request for the additional session as well.

    PLEASE NOTE:  If you are no longer in need of the shuttle service you may have selected in your MMSS application, 
    or if you have any questions about shuttle service, please email mmss@umich.edu as soon as possible.
  </p>
  <hr>
  <%= form.label :arrival_session %>
  <div class="form-check">
    <% @sessions.each do |s| %>
      <div>
        <input class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-600 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" 
          type="radio" name="arrival_session" id="<%= s %>" value="0">
        <label class="form-check-label inline-block text-gray-800" for="<%= s %>">
          <%= s %>
        </label>
      </div>
    <% end %>
  </div>
  <hr>

  <%= form.label :depart_session %>
  <div class="form-check">
    <% @sessions.each do |s| %>
      <div>
        <input class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-600 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" 
          type="radio" name="depart_session" id="<%= s %>" value="0">
        <label class="form-check-label inline-block text-gray-800" for="<%= s %>">
          <%= s %>
        </label>
      </div>
    <% end %>
  </div>
  <hr>

  <p>
    Please indicate what type of transportation you will use to arrive to Michigan 
    (if you will be a daily commuter to the MMSS program, please check "N/A")
  </p>

  <%= form.label :arrival_transport %>
  <div class="form-check">
    <% transportation.each do |s| %>
      <div>
        <input class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-600 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" 
          type="radio" name="arrival_transport" id="<%= s %>" value="0">
        <label class="form-check-label inline-block text-gray-800" for="<%= s %>">
          <%= s %>
        </label>
      </div>
    <% end %>
  </div>
  <hr>

  <p>
    Carrier Name (if traveling by automobile - enter "automobile" OR if a daily commuter - enter "commuter")
    Airline: (Delta, United, Spirit, etc.), Bus (Greyhound), Train (Amtrak)
  </P>
  <div class="field">
    <%= form.label :arrival_carrier %>
    <%= form.text_field :arrival_transport %>
  </div>
  <hr>

  <p>
  Arrival Flight #/Bus #/Train # (Ex: Delta 0025) -   (if traveling by automobile - enter "N/A" OR if a daily commuter - enter "commuter")  </P>
  <div class="field py-2">
    <%= form.label :arrival_route_num %>
    <%= form.text_field :arrival_route_num %>
  </div>
  <hr>

  <div class="field py-2">
    <%= form.label :arrival_date %>
    <%= form.date_field :arrival_date, class: "datepicker" %>
  </div>
  <hr>

  <div class="field">
    <%= form.label :arrival_time %>
    <%= form.text_field :arrival_time %>
  </div>
  <hr>

  <p>
    Please indicate what type of transportation you will use to depart from Michigan
    (if you will be a daily commuter to the MMSS program, please check "N/A").
  </p>

  <%= form.label :depart_transport %>
  <div class="form-check">
    <% transportation.each do |s| %>
      <div>
        <input class="form-check-input appearance-none rounded-full h-4 w-4 border border-gray-600 bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" 
          type="radio" name="depart_transport" id="<%= s %>" value="0">
        <label class="form-check-label inline-block text-gray-800" for="<%= s %>">
          <%= s %>
        </label>
      </div>
    <% end %>
  </div>
  <hr>

  <p>
    Departure Information - Carrier Name 
    (if traveling by automobile - enter "automobile" OR if a daily commuter - enter "commuter")
  <div class="field">
    <%= form.label :depart_carrier %>
    <%= form.text_field :depart_carrier %>
  </div>
  <hr>

  <p>
  Departure Flight #/Bus #/Train # (Ex: Delta 0025) -   (if traveling by automobile - enter "N/A" OR if a daily commuter - enter "commuter")  </P>
  <div class="field">
    <%= form.label :depart_route_num %>
    <%= form.text_field :depart_route_num %>
  </div>
  <hr>

  <div class="field">
    <%= form.label :depart_date %>
    <%= form.date_field :depart_date, class: "datepicker" %>
  </div>
  <hr>

  <div class="field">
    <%= form.label :depart_time %>
    <%= form.text_field :depart_time %>
  </div>
  <hr>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>
  <hr>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
