<%= form_with(model: financial_aid, local: true, data: { controller: "required-stars" }) do |form| %>
  <% if financial_aid.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(financial_aid.errors.count, "error") %> prohibited this financial_aid from being saved:</h2>

      <ul>
        <% financial_aid.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :note, "Explanation" %>
    <%= form.text_area :note, required: true %>
  </div>
  <div class="field">
    <%= form.label :adjusted_gross_income, "Adjusted Gross Income (AGI)" %>
    <%= form.number_field :adjusted_gross_income, required: true, min: 0, step: 1 %>
  </div>
  <div class="direction_notes">
    <p class="text-red-700">
      Please enter your Adjusted Gross Income (AGI) from your parents' or guardians' latest tax return.
      <br>
      This is the amount found on line 11 of Form 1040 (or the equivalent line on other tax forms).
    </p>
    <p>
      Your application for financial aid will not be considered until the MMSS program
      receives this information. Include any additional documentation describing
      extenuating circumstances in the explanation field above.
    </p>
  </div>

  <% if admin_signed_in? %>
    <h2>========== Administrative area ==========</h2>
    <div class="field">
    <%= form.label :amount_cents %>
    <%= form.number_field :amount_cents %>
    </div>

    <div class="field">
      <%= form.label :source %>
      <%= form.text_field :source %>
    </div>

    <div class="field">
      <%= form.label :awarded %>
      <%= form.check_box :awarded %>
    </div>

    <div class="field">
      <%= form.label :status %>
      <%= form.text_field :status %>
    </div>

  <% end %>

  <div class="actions">
    <% if financial_aid.new_record? %>
      <%= form.submit "Request Financial Aid" %>
    <% else %>
      <%= form.submit "Update Financial Aid Request" %>
    <% end %>
  </div>
<% end %>
