<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table class="px-2 min-w-full divide-y divide-gray-300">
  <thead class="bg-gray-300">
    <tr>
      <th scope="col" class="py-3.5 text-sm font-semibold text-gray-900">Course Title</th>
      <th scope="col" class="pl-4 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Available spaces</th>
      <th scope="col" class="pl-4 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Status</th>
      <th scope="col" class="pl-4 py-3.5 text-left text-sm font-semibold text-gray-900 lg:table-cell">Student list</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <% if @courses.index(course).odd? %>
        <tr class="relative py-2 pl-4 sm:pl-6 pr-3 text-sm border-t border-grey-700 bg-gray-200">
      <% else %>
        <tr class="relative py-2 pl-4 sm:pl-6 pr-3 text-sm border-t border-grey-700 bg-white">
      <% end %>
        <td class="relative py-2 pl-4 sm:pl-6 pr-3 text-sm">
          <div class="font-medium text-gray-900">
            <%= course.display_name %>
          </div>
        </td>
        <td class="relative py-2 pl-4 sm:pl-6 pr-3 text-sm">
          <div class="font-medium text-gray-900">
            <%= course.available_spaces %>
          </div>
        </td>
        <td class="relative py-2 pl-4 sm:pl-6 pr-3 text-sm">
          <div class="font-medium text-gray-900">
            <%= course.status %>
          </div>
        </td>
        <td class="relative py-2 pl-4 sm:pl-6 pr-3 text-sm">
          <div class="font-medium text-gray-900 hover:underline">
            <%= link_to 'Student List', student_list_path(course) %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

