
<% if user_signed_in? && registration_open?%>

  <% if current_user.applicant_detail.present? && current_user.applicant_detail.persisted? %>
    <div id="sidebox">
      <p><strong>Progress Window</strong><p>
      <div class="text-xs">(You may email any questions to 
      <%= mail_to "mmss@umich.edu", subject: "Question about MMSS"  do %>
        <strong>mmss@umich.edu</strong>)
      <% end %>
    </div>
      <% if @current_enrollment.present? && @current_enrollment.persisted? %>
        <% if @current_enrollment.application_status.present? %>
          <span class="text-green-800 font-semibold"><%= @current_enrollment.application_status.titleize %>
                                                    on <%= @current_enrollment.application_status_updated_on %></span>
        <% else %>
          <span class="text-red-700 font-semibold">Application incomplete</span>
        <% end %>
      <% end %>
      <div class="sidebox_element"> <%= link_to 'Applicant Details', applicant_detail_path(current_user.applicant_detail) %> - submitted </div>

      <% if @current_enrollment.present? && @current_enrollment.persisted? %>
        <div class="sidebox_element">
          <%= link_to 'Session Selection',
                        enrollment_path(@current_enrollment) %> - submitted
        </div>
        <div class="sidebox_sub_element">
          <%= link_to 'Course Rankings',
                        enrollment_course_preferences_path(@current_enrollment.id) %>
            <% if @current_enrollment.course_preferences.pluck(:ranking).any?{ |e| e.nil? } %>
              - not complete
            <% else %>
              - submitted
            <% end %>
        </div>

        <% if @current_enrollment.recommendation.present? && @current_enrollment.recommendation.persisted? %>
          <div class="sidebox_element">
            <%= link_to "Recommendation",
                        enrollment_recommendation_path(@current_enrollment,@current_enrollment.recommendation ) %>

            <% if @current_enrollment.recommendation.recupload.present? %>
              - received
            <% else %>
              - requested
            <% end %>

          </div>
        <% end %>

        <% if @current_enrollment.financial_aids.present? %>
          <div class="sidebox_element">
            <%= link_to "Financial Aid",
                        enrollment_financial_aid_path(@current_enrollment,@current_enrollment.financial_aids) %>

            <% if FinancialAid.where(enrollment_id: @current_enrollment).pluck(:status).include? 'awarded' %>
              - awarded
            <% elsif FinancialAid.where(enrollment_id: @current_enrollment).pluck(:status).all? 'rejected' %>
              - rejected
            <% else %>
              - pending
            <% end %>

          </div>
        <% end %>

        <% if current_user.payments.current_camp_payments.present? %>
          <div class="sidebox_element">
            <%= link_to "Application Fee",
                        all_payments_path %>
               - paid
          </div>
        <% end %>

        <% if current_enrollment.offer_status == "offered" %>
          <hr>
          <% current_enrollment.session_assignments.each do |as| %>
            <%= as.camp_occurrence.display_name %>
                <div>
                  <% course_ids = CourseAssignment.where(enrollment_id: current_enrollment).pluck(:course_id) %>
                  Course:
                  <% if Course.find_by(id: course_ids, camp_occurrence_id: as.camp_occurrence_id) %>
                    <%= Course.find_by(id: course_ids, camp_occurrence_id: as.camp_occurrence_id).title %>
                  <% else %>
                    <%= "Contact MMSS admin"%>
                  <% end %>
                </div>
            <% if as.offer_status.present? %>
              <div>
              <%= as.offer_status %>
              </div>
            <% else %>
              <div class="my-2">
                <%= link_to "Accept", accept_session_offer_path(as.id), method: "POST", data: { confirm: "Are you sure you want to accept this session?"}, class: "btn btn-blue" %> |
                <%= link_to "Decline", decline_session_offer_path(as.id), method: "POST", data: { confirm: "Are you sure you want to decline this session?"}, class: "btn btn-red" %>
              </div>
            <% end %>
            <hr>
          <% end %>
        <% elsif current_enrollment.offer_status == "accepted" %>
          <hr>
          <div>
            <span class="text-green-umgreen font-semibold">You have accepted admission</span>
            <% current_enrollment.session_assignments.each do |sa| %>
              <% if sa.offer_status == "accepted" %>
              <div>
                <%= sa.camp_occurrence.display_name %>
                <div>
                  <% course_ids = CourseAssignment.where(enrollment_id: current_enrollment, wait_list: false).pluck(:course_id) %>
                  Course:
                  <% if Course.find_by(id: course_ids, camp_occurrence_id: sa.camp_occurrence_id) %>
                    <%= Course.find_by(id: course_ids, camp_occurrence_id: sa.camp_occurrence_id).title %>
                  <% else %>
                    <%= "Contact MMSS admin"%>
                  <% end %>
                </div>
              </div>
              <% end %>
            <% end %>
            <div>
              <% course_ids = CourseAssignment.where(enrollment_id: current_enrollment, wait_list: true).pluck(:course_id) %>
              <% if course_ids.present? %>
                <div class="text-xs font-semibold">Wait list courses:</div>
                <% Course.where(id: course_ids).each do |course| %>
                  <%= course.display_name %>
                <% end %>
              <% end %>
            </div>
            <hr>
            <span><strong>Health Forms</strong></span>
            <% if current_enrollment.camp_doc_form_completed %>
              <p>
                Completed
              </p>
            <% else %>
              <p>
                The parent email address on file will be sent an invitation to complete health forms on Camp Doc 
                after the balance has been paid in full. Please complete the forms as soon as possible. 
                Enrollment will not be finalized until the health forms are completed.          
              </p>
            <% end %>
          </div>
        <% elsif @current_enrollment.offer_status == "declined" %>
          <hr>
          <div>
            <span class="text-red-umred font-semibold">You have declined admission</span>
          </div>
        <% else %>
          <hr>
          <div class=" text-xs">
            Questions?
            <span class="text-blue-700"><%= mail_to "mmss@umich.edu" %></span>
          </div>
        <% end %>

      <% end %>
    </div>
  <% end %>

<% end %>

<%= javascript_pack_tag 'student_packet_upload' %>
